html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */
body {
  background-color: #eee;
  font-family: Roboto Condensed, sans-serif;
}

.container {
  position: relative;
  top: 50px;
  padding: 80px 0 60px 0;
  width: 450px;
  background-color: white;
  margin: auto;
}

.red {
  color: red;
}

#infoInput {
  display: grid;
  margin: 20px;
}

.container input {
  display: grid;
  margin: 2px;
  border-radius: 6px;
}

#submitBtn {
  position: relative;
  width: 20%;
  left: 40%;
}