
.new-tweet {
  display: block;
  background-color: #eee;
  margin: 120px 2em 0 2em;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  padding: 20px;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin: 0 0 20px 0;
}

.new-tweet form {
  padding-bottom: 10px;
}

.new-tweet textarea {
  width: 100%;
  padding: 5px;
}

.new-tweet span {
  float: right;
}

