
.new-tweet {
  background-color: #eee;
  margin: 0 2em 0 2em;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  padding: 20px;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin: 0 0 20px 0;
}

.new-tweet form {
  padding-bottom: 10px;
}

#tweetText {
  width: 100%;
  padding: 5px;
}

.new-tweet footer {
  display: inline;
  width: 300px;
  height: 80px;
}

.new-tweet footer input {
  position: absolute;
}

.new-tweet footer p {
  position: relative;
  display: inline;
  left: 60px;
  margin: auto;
}

.new-tweet footer span {
  display: inline;
  float: right;
}
