
.tweet {
  background-color: #eee;
  margin: 50px 2em 0px 2em;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #DCDCDC;
  opacity: 0.5;
}

.tweet:hover {
  border: 1px solid;
  opacity: 1;
}

.tweet header {
  margin: auto;
  border-radius: 10px 10px 0 0;
  height: 70px;
  background-color: #eee;
}

.tweet .profile {
  float: left;
  display: inline-block;
  border-radius: 10px;
  margin: 10px 0 0 10px;
}

.tweet header h2 {
  display: inline-block;
  margin: 10px 0 0 10px;
}

.tweet header p {
  float: right;
  padding-right: 5px;
}

.tweet p {
  padding-left: 15px;
}

.tweet footer {
  border-top: 1px solid black;
}

.tweet footer p {
  margin: 5px 0 5px 0;
  padding-left: 10px;

  display: inline-block;
}

#likeNum {
  float: right;
  margin: 5px 5px 0 0;
  padding: 0px;
}

.fa-flag, .fa-retweet, .fa-heart {
  margin: 5px 5px 5px 0;
  float: right;
}

#like {
  background: none;
  padding: 0px;
  border: none;
  z-index: 10;
}